body{
  margin: 0;
  background-image: url('https://picsum.photos/1920/1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}
input{
  display: block;
  margin: 5px;
}
span>i{
  cursor: pointer;
}
.container{
  overflow: hidden;
  display: inline-block;
  padding: 30px;
  min-height: 200px;
  max-height: 95vh;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(2px);
  border: 1px solid black;
  box-shadow: 0px 0px 3px 1px black;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container::before{
  content: '';
  height: 100vh;
  width: 100vh;
  top: -5px;
  left: 5px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(50deg);
  z-index: -1;
  border-radius: 50%;
}
.container:hover{
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 3px 1px white;
  border: 1px solid whitesmoke;
}
input[type="text"],
input[type="email"],
input[type="password"]{
  border: 0px;
  padding: 5px 20px;
  background: transparent;
  box-shadow: 1px 1px 1px white inset, 1px 1px 1px rgb(155, 153, 153);
  border-radius: 99px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::placeholder{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container>form>span{
  float: left;
  color: white;
  margin-top: 7px;
}
input[type="submit"]{
  border: 0px;
  padding: 7px 15px;
  background: #007bff;
  border-radius: 99px;
  color: white;
  font-weight: bolder;
  float: right;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #007bff;
}
.inputs{
  min-height: 150px;
  padding: 20px 0px;
}
.title{
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-size: larger;
  color: white;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 2px dotted white;
}
p{
  max-width: 200px;
  font-weight: bolder;
  text-transform: capitalize;
}